.header {
  margin-top: 40px;
  margin-bottom: 1rem;
}

.header-top {
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

/*
    search input
*/

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
  border: 1px solid #dddddd;
  padding: 0.7rem 2rem;
  transition: all 0.2s;
}

.search__input:focus {
  outline: 1px solid #000;
}

.search__button {
  border: none;
  background-color: #fff;
  translate: -2rem;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(3px);
}

.logo {
  width: 8rem;
}

@media (max-width: 600px) {
  .logo {
    margin: 1rem auto;
  }
  .search {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .header-top {
    list-style: none;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.nav-links {
  display: inline;
}
