.hero {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.hero h1 {
  font-size: calc(4vw + 4vh + 2vmin);
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero h2 {
  font-size: calc(1vw + 1vh + 2vmin);
}

.hero .btn {
  display: block;
  width: 200px;

  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #fff;
}
