.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.picture {
  margin: 1rem;
}
.details {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.description {
  text-align: justify;
  margin-top: 1rem;
}
