.container {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.inputBox label {
  margin-bottom: 1rem;
}

.error {
  color: red;
}
